<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxu">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.GaiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/notetaking"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".admin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.DisplayMessageActivity" />
        <activity android:name=".demo.TheTimerActivity" />
        <activity android:name=".demo.AFunctionDisplayActivity" />
        <activity android:name=".demo.KeySaveActivity" />
        <activity android:name=".demo.StoreTheDataActivity" />
        <activity android:name=".demo.PersonActivity" />
        <activity android:name=".ui.person.PersonEditActivity" />
        <activity android:name=".demo.LoginActivity" />
        <activity android:name=".ipinfo.IpInfoActivity" />
        <activity android:name=".demo.MainViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".demo.CeHuaMainActivity" />
        <activity android:name=".index.IndexPageActivity" />
    </application>

</manifest>